---
- debug: 
    msg: "In miao-bpl, ansible-postgis, tasks/main.yml. postgresql_version is {{ postgresql_version }}, postgis_version is {{ postgis_version }}, and postgis_package_version is {{ postgis_package_version }}  "
    
- name: Configure the PostgreSQL APT key
  apt_key: url=https://www.postgresql.org/media/keys/ACCC4CF8.asc state=present

- name: Configure the PostgreSQL APT repositories
  apt_repository: repo="deb http://apt.postgresql.org/pub/repos/apt/ {{ ansible_distribution_release}}-pgdg main"
                  state=present
  ignore_errors: True            

- name: Install PostGIS
  apt: pkg={{ item }} state=present
  with_items:
   - postgresql-{{ postgresql_version }}-postgis-{{ postgis_version }}={{ postgis_package_version }} 
  #  - postgresql-{{ postgresql_version }}-postgis-{{ postgis_version }}={{ postgis_package_version }}
  ignore_errors: True
